<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/9cd9f53be2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <p>20% de descuento</p>
        </div>
    </header>
    <div class="barra">
        <img class="compu" src="/img/OBJECTS.png" alt="">
        <h1>Card Super Heroes</h1>
    </div>
    <main> 

        <div class="registro">

            <form action="/index.html">
                <h2>Registro</h2>
                    <label for="Nombre Y Apellido"></label>
                    <input type="text" name="nombre" required placeholder="Nombre Y Apellido">

                    <label for="Correo Electronico"></label>
                    <input type="email" name="email" required placeholder="Correo Electronico" id="email">

                    <label for="Contraseña"></label>
                    <input type="password" name="pass" required placeholder="Contraseña">

                    <select name="paises" id="" placeholder="Paises">
                        <option value="Paises"> Paises</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Brasil">Brasil</option>
                    </select>
            <div class="bregistro">
                <button type="reset" class="reset">Resetear</button>
                <button type="submit" class="rsubmit">Registrar</button>
            </div>
                <p>¿Ya tienes cuenta?    <span>  <a href="/views/login.html">Ingresar</a></span> </p>
    
            </form>
        </div>
            
    
    </main>
    <footer>
        <p>Todos los derechos reservados a <span>FrontEnd 1</span></p>
        <img src="/img/github.png">
    </footer>
</body>
</html>














